* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none
    /* border: solid black 1px;     */
    /* font-family: Arial, Helvetica, sans-serif; */
}

img {
    height: 200px;
    width: 200px;
}

@font-face {
    font-family: pluto-bold;
    src: url('../fonts/pluto-font-family/HvDTrial_Pluto-CondBlack-BF6486959ed9374.otf');
  }
@font-face {
    font-family: pluto-light;
    src: url('../fonts/pluto-font-family/HvDTrial_Pluto-CondRegular-BF6486959e6db70.otf');
  }



body {
    display: flex;
    flex-direction: column;
    background-color: rgba(251,251,251,255);
}

header {
    background-color: rgba(255,240,233,255);
    height: 100vh;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;

    /* padding-bottom: 220px; */
    
}

.navigation {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 84px;
    padding-right: 84px;
    background-color: rgba(255,240,233,255);

}

.navigation button {    
    padding: 8px;
    background-color: rgba(255,240,233,255);
    font-size: large;
    font-family: sans-serif;
    font-weight: 600px;
    
}

.app-name {
    /* font-family: arista-bold; */
    font-family: pluto-bold;
    font-size: xx-large;
    font-weight: bold;
    padding-left: 24px;
    padding-right: 24px;
}

.center-nav{
 display: flex;   
 justify-content: center;
 flex-grow: 1;
 gap: 12px;
 
}
.center-nav button{
    border: 0px;
    font-size: 20px;
    /* padding-left: 24px;
    padding-right: 24px; */
    font-family: pluto-light;
}

.left-nav,
.right-nav {
    display: flex;
    align-items: center;
}

/* .right-nav .login{
    border: 0px;
    padding-left: 24px;
    padding-right: 24px;
} */

.right-nav .sign-up {
    border: solid rgba(238,84,87,255) 2px;
    border-radius: 24px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: pluto-light;
    font-size: 20px;
}

/* Landing Head */
.landing {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-left: 108px;
    padding-right: 84px;
    height: 92%
}
.left-landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;
}

.owner-rev {
    display: flex;
    align-items: center;
    width: 500px;
}

.owner-rev p{
    font-size: 20px;
    font-family: pluto-light;
    padding: 12px;
}

.mascot-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;

}
.mascot-img-container {
    padding: 12px;
}

.head-order {
    display: flex;
    gap: 80px;
    /* padding: 8px; */
    padding-top: 8px;
}

.head-order button{
    /* border: 0px; */
    /* background: transparent; */
    font-size: 20px;
    /* font-family: arista-bold; */
    font-family: pluto-light;
    color: white;
}

.buy-btn {
    border: solid rgba(238,84,87,255) 2px;
    background-color: rgba(238,84,87,255);
    color: white;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 24px;
}

.order-btn-container {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-family: pluto-light;
    color: black;
}

.order-btn {
    padding: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgba(238,84,87,255);
}

.order-btn svg {
    width: 24px; 
    height: 24px;
    border: 0px;
    stroke: rgba(238,84,87,255);
    fill: rgba(238,84,87,255);
}

.right-landing {
    display: flex;
    align-items: center;
}

.huge-image {
    height: 500px;
    width: 600px;
    /* height: 70vh; */
    /* width: 45vw; */
    padding: 12px;
    margin-right: 24px;
}

.huge-title {
    color: rgba(238,84,87,255);
    font-family: pluto-bold;
    font-size: 60px;
}




/* Main Content */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.content {
    display: flex;
    background-color: rgba(251,251,251,255);
    /* height: 800px; */

    /* overflow: auto; */
    height: fit-content;
    flex-direction: column;
}

.center-overflow {
    display: flex;
    width: 100%;
    /* border: solid black 1px; */
    height: fit-content;
    justify-content: center;
    position: relative;
    /* transform: translateY(); */
    margin-bottom: 150px;
    background-color: rgba(255,240,233,255);
}

.info-container {
    display: flex;
    flex-direction: row;
    padding: 18px;
    border: solid black 1px;
    height: fit-content;
    width: 70%;
    border-radius: 6px;
    border: 0px;
    background-color: white;
    transform: translateY(50%);
    gap: 70px;
    justify-content: space-evenly;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* Shade for the top div */

}

.info-title {
    font-family: pluto-bold;
    font-size: 30px;
    display: flex;
    width: fit-content;
}

.info-subtitle {
    font-family: pluto-light;
    color: rgb(156, 89, 89);
    font-size: large;
    padding: 12px;
    max-width: 300px;
    width: fit-content;
}

.best-deliver-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 108px;

}

.best-deliver-title{
    /* font-family: pluto-bold; */
    /* font-size: 40px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-right: 208px; */
    /* padding-left: 208px; */
}

.deliver-title {
    width: 300px;
    font-family: pluto-bold;
    font-size: 40px;
    padding-left: 24px;
    
}

.menu-subtitle,
.deliver-subtitle {
    font-size: 15px;
    font-family: pluto-light;
    color: gray;
    width: 300px;
}

.text-color-red{
    color: rgba(238,84,87,255);
}

.best-item {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-right: 108px;
    height: fit-content;    
}

.best-item>div{
    display: flex;
    flex-direction: column;
}

.best-item>div>img{
    height: 200px;
    width: 300px;
    margin-top: 80px;
}

.b-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-top: 24px;

    margin-bottom: 50px;
}

.b-item-title {
    font-family: pluto-light;
    font-size: x-large;
    font-weight: 700;
}

.b-item-order-link {
    font-family: pluto-light;
    font-size: large;
    color: rgba(238,84,87,255);
}

/* Menu Container */

.menu-container {
    /* padding-left: 108px; */
    padding-top: 24px;
    /* display: flex; */
}

.menu-title {
    padding-left: 108px;
}

.menu-subtitle {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 108px;
    padding-bottom: 24px;
}

.menu-subtitle>p{
    width: 400px;
}

.see-all-btn {
    border: solid rgba(238,84,87,255) 0px;
    border-radius: 24px;
    padding-left: 24px;
    padding-right: 24px;
    font-family: pluto-light;
    font-size: 20px;
    color: white;
    background-color: rgba(238,84,87,255);
}

.menu-selection-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
    padding-right: 108px;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 108px;
    gap: 100px;
    padding-bottom: 108px;
}

.menu {
    padding: 24px;
    border: solid rgba(254,234,223,255) 0px;
    background-color: rgba(254,234,223,255);
    border-radius: 12px;
    position: relative;
}


.menu-img {
    /* border: 1px solid #ddd; */
    padding: 0;
    width: 300px;
    height: 150px;



}

.image {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0;

    height: 270px;
    width: 290px;


    border: solid rgba(238,84,87,255) 5px;
    border-radius: 50%;

    transform: translateY(-30%) translateX(30%);

}

.menu-name {
    font-family: pluto-bold;
    font-size: x-large;
    width: 200px;
}

.price-buy-btn-container {
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: space-between;
    align-items: center;
}

.menu-price {
    font-family: pluto-light;
    font-weight: 500;
    padding-left: 8px;
    font-size: x-large;
}

.menu-buy-btn {
    border: solid rgba(238,84,87,255) 2px;
    border-radius: 24px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: pluto-light;
    font-size: medium;
    color: white;
    background-color:  rgba(238,84,87,255);
}

.star-checked {
    color: orange;
  }

.menu-rate {
    padding-top: 8px;
    padding-bottom: 8px;
}

.total-rev {
    color: gray;
}


/* Discount Section */
.discount-container {

    justify-content: center;
    gap: 12px;
    padding: 12px;
    display: grid;
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    grid-template-columns: repeat(12, 80px);
    grid-template-rows: repeat(14, 80px);
    margin-bottom: 100px;
}

.discount-1 {
    grid-row: 1/5;
    grid-column: 1/9;
}

.discount-2 {
    grid-row: 1/5;
    grid-column: 9/14;
}

.discount-3 {
    grid-row: 5/9;
    grid-column: 9/14;
}

.discount-4 {
    grid-row: 5/9;
    grid-column: 1/9;
}

.discount-5 {
    grid-row: 9/17;
    grid-column: 1/14;
}

.discount-style {
    border-radius: 24px;
    border: solid black 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

footer {
    background-color: rgba(254,234,223,255);
    height: fit-content;
    display: flex;
    padding-left: 108px;
    padding-right: 108px;
    padding-top: 64px;
    padding-bottom: 64px;
    justify-content: space-between;
    /* font-family: pluto-light; */
}

.footer-red-font {
    color: rgb(238,84,87,255);
    font-family: pluto-bold;
    font-size: 24px;;
}

.footer>div>ul>li {
    padding: 8px;
    color: gray;
}

.footer div{
    padding: 8px;
}

.copyright {
    color: gray;
}

.company-social-media {
    margin-top: 63px;
}

.sosmed-img {
    height: 32px;
    width: 32px;
    opacity: 30%;
    margin-left: 8px;
}

.sosmed-img-container {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}


/* Hover styling */
.pink-button:hover {
    color: rgba(238,84,87,255);
    /* background-color: rgba(255,240,233,255); */
    background-color: white;
    border: solid rgba(238,84,87,255) 2px;
    cursor: pointer;

}

.sign-up:hover {
    color: white;
    background-color: rgba(238,84,87,255);
    border: solid rgba(238,84,87,255) 2px;

}


/* Animation */
.app-name {
    /* width: 100%; */
    font-size: 30px;
    transition: font-size 0.3s ease, color 0.3s ease;
}
.app-name:hover {
    transform: scale(1.17);
    cursor: pointer;
}

button.underline {
    cursor: pointer;
}

.underline {
    width: 90px;
}

.underline {
    position: relative;
}

.underline:after {
    content: '';
    position: absolute;
    background-color: rgba(238,84,87,255);
    height: 3px;
    width: 0;
    left: 0;
    bottom: 5px;
    transition: 0.3s;
}

.underline:hover:after {
    width: 100%;
}
    

/* Media Queries */
/* Mobile */
@media (max-width: 600px) {
    
}